<!DOCTYPE html>
<html>
<head>
  {{>head}}
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="index">
            <img src="images/logo.png" alt="" width="35" height="29" class="d-inline-block align-text-top">
               404 ERROR
          </a>
        </div>
    </nav>

    <div class="card border-dark text-center" style="margin: 5%;">
      <div class="card-body">
          <blockquote class="blockquote mb-0">
              <p>Ruh roh, Raggy! It appears there's been an error. :(</p>
          </blockquote>
      </div>
    </div>

    {{>footer}}
</body>
</html>